/*Geral*/

body {
    background: #003062;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    margin-top: 98.4px;
}

h1,
h2 {
    color: #ff184c;
}

p,
li,
h3,
a {
    color: #ffccdc;
}

/*NavBar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 3px solid #ff184c;
    /*Fixar na tela*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa toda a largura */
    z-index: 10;
    background: #003062;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    font-size: 20px;
    text-decoration: none;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links li:last-child {
    margin-right: 0;
}

#logo-site img {
    max-width: 300px;
    height: auto;
}

/*Main*/

.full-page {
    max-width: 100%;
    height: auto;
    display: flex;
    min-height: calc(100vh - 98.4px);
    box-sizing: border-box;
}

/*Home Container*/

#home-container {
    justify-content: center;
    align-items: center;
}

#picture-home {
    min-width: 400px;
    min-height: 400px;
    margin-right: 100px;
    border-radius: 50%;
    border: 4px solid #0a9cf5;
    background-image: url('img/foto-otavio.webp');
    background-size: cover;
    background-position: center;
}

#text-home {
    line-height: 25px;
}

#text-home h1 {
    font-size: 50px;
}

#text-home p {
    font-size: 20px;
}

/*About container*/

#about-container {
    justify-content: center;
    align-items: center;
}

#text-about {
    max-width: 700px;
}

#text-about p {
    font-size: 18px;
    text-align: justify;
    line-height: 1.8rem;
}

#text-about h2 {
    text-align: center;
}

button {
    font-family: 'Exo 2', sans-serif;
    background-color: #0a9cf5;
    color: #003062;
    padding: 12px 30px;
    font-weight: 700;
    text-transform: uppercase;
    clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff184c;
    color: #ffccdc;
    transform: translateX(5px);
    box-shadow: -5px 0px 0px #0a9cf5;
}

/*Stacks container*/

#stacks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    background-color: #0a9cf5;
    border: none;
    clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

#stacks-container h2 {
    margin-top: 50px;
}

.skill-card p {
    color: #ffccdc;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}

/*Projects container*/

#projects-container h2,
#contacts-container h2 {
    margin-top: 50px;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 520px;
    background-color: #0a9cf5;
    border: none;
    clip-path: polygon(10px 0%, 100% 0%, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0% 100%, 0% 10px);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card:first-child {
    margin-left: 40px;
}

.project-card:last-child {
    margin-right: 40px;
}

.project-details {
    margin: 0 10px;
}

#projects-container .project-details h2 {
    color: #003062;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin: 0;
}

.project-details p {
    line-height: 1.4;
    text-align: justify;
}

.project-skills p {
    color: #003062;
    font-weight: 600;
    font-size: 0.90rem;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-justify: inter-word;
}

.project-skills span {
    display: inline-block;
    background-color: #003062;
    color: #ffccdc;
    padding: 5px 15px;
    border: 1px solid #0a9cf5;
    font-size: 0.75rem;
    margin-right: 5px;
    margin-bottom: 5px;
    clip-path: polygon(10% 0, 100% 0, 100% 70%, 90% 100%, 0 100%, 0 30%);
}

.project-img img {
    width: 100%;
    height: 14.375rem;
    object-fit: cover;
    border-bottom: 2px solid #003062;
}

#projects-container button {
    background-color: #ff184c;
    max-width: 45%;
    padding: 10px;
    margin-left: 10px;
}

/*Contacts container*/

#contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts-card-list {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    margin-top: 50px;
}

#social-media-card {
    text-align: center;
}

.social-media-icon {
    background-color: #0a9cf5;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.social-media-icon:hover{
    transform: translateY(-5px);
}

.social-media-icon a img {
    width: 50px;
    height: auto;
}

#forms-card{
    width: 400px;
    height: auto;
}

#forms-card form {
    display: flex;
    flex-direction: column;
}

#forms-card form input {
    all: unset;
    margin: 20px 0;
    padding-bottom: 10px;
    font-family: 'Exo 2', sans-serif;
    border-bottom: 2px solid #ff184c;
    color: #ffccdc;
}

#forms-card form textarea{
    all: unset;
    border-bottom: 2px solid #ff184c;
    word-wrap: break-word;
    field-sizing: content;
    padding-bottom: 10px;
    margin: 20px 0;
    color: #ffccdc;
}

input::placeholder, textarea::placeholder {
    color: #ffccdc;
    opacity: 1; 
}

#forms-card button{
    background-color: #ff184c;
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

/*Footer*/

#footer-container{
    text-align: center;
    color: #ffccdc;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

/*Media-Query Responsividade das Telas*/

/*Tablet*/
@media (max-width: 1024px) {

    /*Problema das seções se invadindo*/
    .full-page {
        height: auto;      
        min-height: 100vh;            
        padding-bottom: 50px;             
        flex-direction: column;      
    }
    
    #home-container, #about-container, #stacks-container, #projects-container, #contacts-container {
        width: 100vw;
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    /*Home*/
    #home-container{
        padding-top: 50px;  
    }

    #text-home{
        text-align: center;
        width: 80%;
    }

    #picture-home {
        margin-right: 0;              
        margin-bottom: 20px;         
    }

    /*Sobre*/
    #text-about{
        width: 80%;
    }

    /*Projetos */
    #projects-list {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .project-card {
        height: auto;  
        min-height: 520px;            
        width: 60%;        
        margin: 0 !important;        
    }

    /*Contatos*/
    #contacts-card-list {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-top: 20px;
    }

    #forms-card {
        width: 60%;
        order: 1; 
    }

    #social-media-card{
        order: 2;
    }

}

/*Mobile*/
@media(max-width: 768px){

    #picture-home{
        min-width: 350px;
    }

    #text-home h1{
        font-size: 32px;
    }

    .project-card {
        width: 95% !important;
        min-height: auto !important;
    }

    #projects-container button {
        max-width: 80% !important; 
        margin: 20px 10px !important;
    }
}