/*Geral*/

body {
    background: #003062;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    margin-top: 98.4px;
}

h1,
h2{
    color: #ff184c;
}

p, 
li,
a{
    color: #ffccdc;
}

/*NavBar*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 3px solid #ff184c;
    /*Fixar na tela*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa toda a largura */
    z-index: 10;
    background: #003062;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    font-size: 20px;
    text-decoration: none;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links li:last-child {
    margin-right: 0;
}

#logo-site img {
    width: 300px;
    height: auto;
}

/*Main*/

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    height: calc(100vh - 98.4px);
}

/*Home Container*/

#home-container {
    justify-content: center;
    align-items: center;
}

#picture-home {
    width: 400px;
    height: 400px;
    margin-right: 100px;
    border-radius: 50%;
    border: 4px solid #0a9cf5;
    background-image: url('img/foto-otavio.webp');
    background-size: cover;
    background-position: center;
}

#text-home {
    line-height: 25px;
}

#text-home h1 {
    font-size: 50px;
}

#text-home p {
    font-size: 20px;
}

/*About container*/

#about-container {
    justify-content: center;
    align-items: center;
}

#text-about{
    width: 700px;
}

#text-about p{
    font-size: 18px;
}

button{
    font-family: 'Exo 2', sans-serif;
    background-color: #0a9cf5;
    color: #003062;
    padding: 12px 30px;
    font-weight: 700;
    text-transform: uppercase;
    clip-path: polygon(10% 0%, 100% 0, 100% 70%, 90% 100%, 0 100%, 0% 30%);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #ff184c; 
    color: #ffccdc;
    transform: translateX(5px);
    box-shadow: -5px 0px 0px #0a9cf5;
}

/*Stacks container*/
